:root {
  background-color: #070707;
  color: #e7e8e8;
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  .swapInputContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .tokenInfo {
    display: flex;
    width: 100%;
    max-width: 130px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .tokenSymbol {
    font-weight: bold;
    font-size: 25px;
  }
  .wrap-btn {
    z-index: 2;
    margin: -28px auto;
    border: 2px solid white;
    border-radius: 20px;
    width: 33px;
    height: 37px;
    padding: 0px 0px;
    background: #edf2f7;
  }

  .tokenInfo div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .swapInputContainer input {
    /* background-color: #111; */
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    padding: 10px 0;
    margin-top: 24px;
  }
  .usdCalc {
    float: right;
  }

  .swapCard {
    position: relative;
  }

  .switchButton {
    margin-left: -110px;
    margin-top: -10px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #e7e8e8;
    color: #070707;
  }
}
